{% extends "base.html" %}
{% block content %}
	
	<div class="container">
		<header>
			<h1>User Register</h1>
		</header>
		<form method="POST">
			{% csrf_token %}
			{{ form.non_field_errors }}
			<div class="fieldWrapper">
				{{ form.username.errors }}
				<label for="{{ form.username.id_for_label }}">Username</label>
				{{ form.username }}
			</div>
			<div class="fieldWrapper">
				{{ form.password1.errors }}
				<label for="{{ form.password1.id_for_label }}">Password</label>
				{{ form.password1 }}
			</div>
			<div class="fieldWrapper">
				{{ form.password2.errors }}
				<label for="{{ form.password2.id_for_label }}">Password Validate</label>
				{{ form.password2 }}
			</div>
			<input class="btn" type="submit" value="Submit" />
			<br>
			<br>
			<br>
		</form>
	</div>
{% endblock content %}