{% extends "base.html" %}
{% block head %}
	{{ block.super }}
	{% load static %}
	<link rel="stylesheet" href="{% static 'gitlog/daygram.css' %}">
{% endblock head %}
{% block bodyclass %}
	"lime lighten-5"
{% endblock bodyclass %}
{% block content %}
	{% load markdown_deux_tags %}
	
	<div class="row">
		<div class="col s12">
			<img id="profile" src="{% static "practicezone/me.PNG" %}">
		</div>
		
	</div>
	
	<div class="row">
		<div class="page-header col s12">
			<h1 class='center-align col s12'>
			<a href="/" class="simple-link brand-logo">DjangoEveryDay</a>
			</h1>
			<h5 class='center-align grey-text text-darken-3 h1-description col s12'>
			Jack's Practice Zone
			</h5>
			
			<div class='col s8 offset-s2 center-align'>
				This is a Place where I put my practice app as a show case.<br>
				It's	meant to be proof of skills and may become my portfolio someday.<br>
				
				Looking for front-end developer want to help out(and practice your skills)
				<br>
				Feel free to contact me on
				<a href="https://www.linkedin.com/in/jack-sanchez-677bb5168/" class="style-link">Linkedin!</a> or <a href="https://www.instagram.com/3bbsanch3z/" class="style-link">Instagram!</a>
			</div>
		</div>
	</div>
	<div class="divider"></div>
	{# Project Links #}
	<div class="container">
		<h3>Practice Projects</h3>
		{% for entry in entries %}
			<div>
				<h5>
				{% if entry.related_link_name %}
					
					<a class='style-link' href="{% url entry.related_link_name %}">{{ entry.title }}</a>
				{% endif %}
				</h5>
				<p>{{ entry.content | markdown }}</p>
			</div>
		{% endfor %}
	</div>
	<div class="divider"></div>

	{# Commit Journal #}
	<div class="container">
		<h5>
			Commit Journal 
			<span class="grey-text" style="opacity: 80%; font-size: 60%;">
				{{ commits_count }} Commits,
				{{ days_of_work }} Days,
				{{ line_of_code }} Lines of code.
				
			</span>
		</h5> 
		<div id="commits" class="daygram">
			{% for commit in commits %}
				<div class="day">
					<div class="date">
						<div class="content">
							<p>{{ commit.month }}<br>{{ commit.day }}</p>
						</div>
					</div>
					<div class="message">
						{% if commit.branch == 'master' %}
							<span class="branch orange-text text-darken-4">{{ commit.branch }}</span>
						{% else %}
							<span class="branch green-text text-darken-3">{{ commit.branch }}</span>
						{% endif %}
						{{ commit.commit_note }}
						<span class="alignright">
							<span class="orange-text text-darken-4">{{ commit.insertions_count }}+</span>
							<span class="teal-text text-darken-4">{{ commit.deletions_count }}-</span>
						</span>
						<div style="clear:both;"></div>
					</div>
				</div>
				
				<br>
			{% endfor %}
		</div>
	</div>
	
	<script>
	var days = $('.day .date .content p');
	var current_date = "";
	var switcher = true;
	days.each(function(){
		// console.log('day:'+this.innerHTML + ' Date:' + current_date);
		if (this.innerHTML != current_date) {
			current_date = this.innerHTML;
			switcher = !switcher;
		}

		if (this.innerHTML == current_date) {
			if (switcher) {
				$(this).closest('.day').addClass('diffcolor');
			}
		}

		


	})






	</script>

{% endblock content %}