{% extends "base.html" %}
{% block head %}
	{{ block.super }}
	<style type="text/css">
	* {
		font-family: 'Gelasio', serif;
	}
	#notice-red {
		background-color: #ffb6b9;
		padding: 1em 3em;
	}
	.align-right{
		text-align: right;
	}
	.no-margin{
		margin:0;
	}
	.simple-link{
		color:black;
	}
	</style>
{% endblock head %}
{% block bodyclass %}
	"lime lighten-5"
{% endblock bodyclass %}
{% block content %}
	<div class="">
		<div id="notice-red">
			Still Working on it. But my design skill sucks lol.
			<br>
			If there is any front-end developer want to help out(and practice your skills),
			feel free to contact me on
			<a href="https://www.linkedin.com/in/jack-sanchez-677bb5168/" class="style-link">Linkedin!</a> or <a href="https://www.instagram.com/3bbsanch3z/" class="style-link">Instagram!</a>
			<br>
			<p class="align-right no-margin">- Jack Sanchez 2020/01/15</p>
		</div>
	</div>
	<div class="row">
		<div class="page-header col s12">
			<h1 class='center-align col s12'><a href="/" class="simple-link">Jack's Practice Zone</a></h1>
			<div class='col s9 offset-s2'>
				This is a Place where I put my practice app as a show case.<br>
				Its	meant to be proof of skills and may become my portfolio someday.<br>
				hope you enjoy your journey here.
			</div>
		</div>
	</div>
	<div class="divider"></div>
	<div class="container">
		<h3>Practice Projects</h3>
		
		<div class="row">
			<div class="col s12 m6 l4">
				<div class="card teal darken-4">
					<div class="card-content white-text">
						<span class="card-title">Day1: Todo App</span>
						<p>Simple app to practice basic MTC in Django!</p>
					</div>
					<div class="card-action">
						<a href="/todoapp">Pay a visit!</a>
					</div>
				</div>
			</div>
			<div class="col s12 m6 l4">
				<div class="card teal darken-4">
					<div class="card-content white-text">
						<span class="card-title">Day2: Shopping Cart</span>
						<p>E-commerce seem to be a high demanding market. So practice shopping cart functoin here :)</p>
					</div>
					<div class="card-action">
						<a href="/products">Pay a visit!</a>
					</div>
				</div>
			</div>
			
			<div class="col s12 m6 l4">
				<div class="card teal darken-4">
					<div class="card-content white-text">
						<span class="card-title">Day3: This Index Page and Styling!</span>
						<p>
							Styling app of Day1 and Day2. Learning 
							<a href="https://material.io" class="style-link white-text">Material Design</a> 
							and using 
							<a href="https://materializecss.com" class="style-link white-text">materialize.css</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}