{% extends 'base.html' %}
{% block head %}
	<style type="text/css">
		* {
				font-family: 'Gelasio', serif;
		}
	</style>
{% endblock head %}
{% block bodyclass %}
	"lime lighten-5"
{% endblock bodyclass %}
{% block content %}
	<div class="container">
		<header class='row'>
			<div class="col s12 center-align">
				<h1>Shoping Cart Demo</h1>
			</div>
			
		</header>
		
		<div id="information" class="row">
			<div class="col s12 center-align">
				{{ message }}
				<p>Current Login in: {{ username }}</p>
			</div>
		</div>
		<div class="row">
			
		</div>
		<div class="row">
			{% for object in object_list %}
				<div class="no-auto-fillment col s12 m6 l4">
					<div class="card teal lighten-1 ">
						<div class="card-content text-white">
							<span class="card-title">{{ object.name }}</span>
							<p>Price: TWD {{object.price}}</p>
						</div>
						<div class="card-action">
							{% if object in user.profile.ebooks.all %}
								{# Add a button here to view product's details #}
								You Own This
								{% elif object in current_order_products %}
								<a href="{% url 'shopping_cart:order_summary' %}" class="waves-effect waves-light btn-flat teal darken-2">Go to Cart</a>
							{% else %}
								<a href="{% url 'shopping_cart:add_to_cart' object.id %}" class=" waves-effect waves-light btn teal darken-2">Add to Cart</a>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
		<br>
		<div class="row">
			<div class="col s12 center-align">
				<a class="waves-effect waves-light btn red lighten-1" href="{% url 'products:clear' %}">Throw Away everything</a>
			</div>
		</div>
		<br>
		<br>
		<br>
	</div>
{% endblock content %}